@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #fff;
}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(Loot.png);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 5em;
    color: #fff;
}

.banner .content p{
    font-size: 1em;
    color: #fff;
}

.btn{
    font-size: 1em;
    color: #fff;
    background: rgb(179, 19, 19);
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    list-style: none;
}

.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 100000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 220px rgba(0,0,0,0.05);
}

header .logo{
    color: #fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

header.sticky .logo{
    color: #111;
}

header .logo span{
    color: rgb(179, 19, 19);
}


header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 0;
    margin: 0 10px;
}

header .navigation li:hover{
    list-style: none;
    margin-left: 0;
    letter-spacing: 4px;
    transition: 0.5s;
}

header .navigation li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 300;
}

header .navigation li i{
    margin-left: 5px;
    color: #fff;
}

header.sticky .navigation li i{
    color: #111;
}

header.sticky .navigation li a{
    color: #111
}

header .navigation li a:hover{
    color: rgb(179, 178, 178);
    letter-spacing: 2px;
    transition: 0.5s;
    text-decoration: none;
}

section{
    padding: 20px;
    background: #111;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 48%;
}

.titleText{
    color: #fff;
    font-size: 2 em;
    font-weight: 300;
}

.titleText span{
    color: rgb(179, 19, 19);
    font-weight: 700;
    font-size: 1.5em;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    min-height: 300px;
}

.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .col50 .imgBx{
    position: relative;
    width: 100%;
    /* min-height: 300px; */
    height: 100%;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.testimonials .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 20px;
    color: rgb(179, 19, 19);
}

.testimonials .content .box{
    width:350px;
    margin: 20px;
    border: 15px solid #555;
    background: #555;
    text-align: center;
}

.testimonials .content .box .imgBx{
    position: relative;
    width: 150px;
    height: 150px;
    margin-left: 85px;
    margin-top: 10px;
}

.testimonials .content .box .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimonials .content .box .text{
    padding: 15px 0 5px;
}

.testimonials .content .box .text h3{
    color: #111;
    font-weight: 400;
}

.testimonials .content .box .text a{
    color: rgb(179, 19, 19);
    text-decoration: none;
}

.testimonials .content .box .text a:hover{
    color: #111;
    letter-spacing: 3px;
    transition: 0.5s;
}

span{
    color: rgb(179, 19, 19);
}

.career{
    width: 100%;
    margin-right: 0 !important;
}

.con{
    width: 100%;
    margin-right: 0 !important;
}

.contactForm {
    padding: 75px 50px;
    background: #fff;
    box-shadow: 0 15px 50px rgb(0 0 0 / 10%);
    width: 40%;
    margin-top: 25px;
}

.contactForm h3{
    color: #333;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    border: 1px solid #555;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactForm .inputBox input[type="submit"]{
    font-size: 1em;
    color: #fff;
    background: rgb(179, 19, 19);
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    max-width: 100px;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: normal;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    color: #f00;
}

footer .container .sec.aboutus p{
    color: #999;
}

footer .social_icon{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: left;
    margin: 0;
    flex-wrap: wrap;
}

footer .social_icon li{
    list-style: none;
}

footer .social_icon li a{
    display: inline-block;
    margin-left: 20px;
    padding: 0;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

footer .social_icon li a:hover{
    color: #555;
    transition: 0.5s;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
    font-size: 1.1em;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact {
    width: 50%;
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
    font-size: 1.1em;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
    list-style: none;
}

.contact .info li a:hover{
    color: #fff;
}

.copyrightText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0,0,0,0.1);
    text-align: center;
}

.copyrightText p{
    color: #333;
}

.copyrightText a{
    color: rgb(179, 19, 19);
    font-weight: 500;
    text-decoration: none;
}

@media (max-width: 991px){
    header,
    header.sticky{
        padding: 10px 20px;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        list-style: none;
        margin-left: 0;
    }
    header .navigation li a{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    header .navigation li i{
        text-decoration: none;
        color: #111;
        font-size: 1.6em;
        font-weight: 300;
    }

    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(close.png);
        background-size: 35px;
        background-repeat: no-repeat;
        background-position: center;
    }
     header.sticky .menuToggle{
         filter: invert(1); 
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color: #fff;
    }
    .row {
        flex-direction: column;
    }
    .row .col50 {
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx {
        display: none;
        margin-top: 20px;
        height: 300px;
    }
    .testimonials .content {
        margin-top: 10px;
    }
    .testimonials .content .box{
        margin: 10px;
    }
    .testimonials .content .box .imgBx{
        background-color: #fff;
    }
    .contactForm {
        padding: 75px 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        width: 100%;
    }
    footer{
        padding: 15px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact{
        width: 100%;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body{
    display: flex;
    justify-content: flex-end;
    align-content: center;
    min-height: 100vh;
    flex-direction: column;
    background: #ede7f6;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 30px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container .sec{
    margin-right: 30px;
}

footer .container .sec.aboutus{
    width: 40%;
}

footer .container h2{
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before{
    content: normal;
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    color: #f00;
}

footer .container .sec.aboutus p{
    color: #999;
}

.sci{
    margin-top: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 50px;
}

.sci li a:hover{
    color: #fff;
}

.sci li fa{
    color: #111;
}

.quickLinks{
    position: relative;
    width: 25%;
}

.quickLinks ul li{
    list-style: none;
    font-size: 1.1em;
}

.quickLinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover{
    color: #fff;
}

.contact{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contact .info{
    position: relative;
    font-size: 1.1em;
}

.contact .info li{
    display: flex;
    margin-bottom: 16px;
}

.contact .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span{
    color: #999;
}

.contact .info li a{
    color: #999;
    text-decoration: none;
    list-style: none;
}

.contact .info li a:hover{
    color: #fff;
}

@media (max-width: 991px){
    footer{
        padding: 40px;
    }
    footer .container {
        flex-direction: column;
    }
    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }
    footer .container .sec.aboutus,
    .quickLinks,
    .contact{
        width: 100%;
    }
}